# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/teamserver_db

# Application
DEBUG=True

# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=teamserver_db
